click==8.0.4
configobj==5.0.6
dataclasses==0.8
dbus-python==1.2.4
decorator==4.2.1
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
gpg==1.13.1
greenlet==2.0.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
libcomps==0.1.16
MarkupSafe==2.0.1
nftables==0.1
perf==0.1
pygobject==3.28.3
PyJWT==2.4.0
pyparsing==2.1.10
python-dateutil==2.6.1
python-linux-procfs==0.6.3
pyudev==0.21.0
PyYAML==3.12
rpm==4.14.3
selinux==2.9
sepolicy==1.1
setools==4.3.0
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
SQLAlchemy==1.4.49
syspurpose==1.28.21
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
